<!--@subject {{trans "Account Delete confirmation email"}} @-->
<!--@vars {
"var data.account_delete_url":"Account Delete Url",
"var data.customer_name":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->
{{template config_path="design/email/header_template"}}
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Dear "}}{{var data.customer_name}},</h1>
								<p>{{trans "You've received this e-mail because we've been notified that you want to delete your account permanently."}}</p>
                                <p>If you still want to delete your account then  <a href="{{var data.account_delete_url}}" title="Account Delete">Click Here.</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
{{template config_path="design/email/footer_template"}}